#scratch{
    position: relative;
    width: 100%; height: 100%;
    /* padding: 10px; */
}

.colorFilter_canvas {
    /* width: 400px; height: 600px; */
    /* padding: 10px; */
    top: 0px; left : 0px; 
    position: absolute;
    /* border : black 1px solid; */
    /* border-radius: 5px; */
}
