*{
    margin: 0;
    padding: 0;
}

#scratch{
    position: relative;
    width: 50%;
    height: 50vh;
}

#picture_canvas {
    width: 600px; height: 600;
    border : black 1px solid;
    border-radius: 5px;
}