<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
 
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>SSU photo studio | ABOUT</title>
<link rel="icon" href="{{ url_for('static', filename='image/favicon.ico') }}">
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet" />
<link href="{{ url_for('static', filename='css/default.css') }}" rel="stylesheet" type="text/css" media="all" />
<link href="{{ url_for('static', filename='css/fonts.css') }}" rel="stylesheet" type="text/css" media="all" />
 
<!--[if IE 6]><link href="default_ie6.css" rel="stylesheet" type="text/css" /><![endif]-->
 
</head>
<body>
<div id="header-wrapper">
   <div id="header" class="container">
       <div id="logo">
           <h1><a href=/ accesskey="1">SSU photo studio</a></h1>
       </div>
       <div id="menu">
           <ul>
               <li><a href=/ accesskey="1" title="">Homepage</a></li>
               <li class="current_page_item"><a href=/about accesskey="2" title="">About</a></li>
               <li><a href=/scrath accesskey="3" title="">Scrath</a></li>
               <li><a href=/artist accesskey="4" title="">painting style</a></li>
               <li><a href=/gallery accesskey="5" title="">Gallery</a></li>
           </ul>
       </div>
   </div>
</div>
 
<!-- <div id="banner-wrapper">
   <div id="banner" class="container">
       <p>This is <strong>Erubescent</strong>, a free, fully standards-compliant CSS template designed by <a href="http://templated.co" rel="nofollow">TEMPLATED</a>. The photos in this template are from <a href="http://fotogrph.com/"> Fotogrph</a>. This free template is released under the <a href="http://templated.co/license">Creative Commons Attribution</a> license, so you're pretty much free to do whatever you want with it (even use it commercially) provided you give us credit for it. Have fun :) </p>
   </div>
</div> -->
<div id="wrapper">
   <div id="featured-wrapper">
      
       <div class="extra2 margin-btm container">
        
           <div class="ebox1">
               
               <div class="title">
                   <span class="byline"></span>
                   
               </div>
               <style>
                img { display: inline; margin: 0px auto; }
               </style>
               <img src="{{ url_for('static', filename='image/team4.jpg') }}" alt="어바웃 이미지" width="550px" height="700px"/>
               
           </div>     
        
           <div class="ebox2">
               <br>
               <div class="title">
                   <h2>ABOUT US</h2>
                   <span class="byline">홈페이지 소개</span>
               </div>
               <h3>Online에서 즐기는 사진관</h3>
               <h3>🎉 SSU PHOTOSTUDIO에 오신 걸 환영합니다! 🎉</h3>
               <br>
               
               <p> 다양한 SNS를 통해 인터넷에 자신을 소개하고 보여주는 사람들이 많아지면서 현재의 트렌드에 맞추어 사진에 특수효과를 주는 사진관 컨셉의 페이지를 기획했습니다.
                   예시 사진과 같이 사용자는 사진을 입력하여 저희가 기획한 기능을 적용하고 색다른 방식으로 자신을 표현할 수 있습니다.
               </p>
               <h4>🧡 SCRATCH 🧡</h4>
               <p>SCRATCH는 Scratch book을 모티브로 제작한 기능으로, 사용자가 업로드한 이미지를 클릭하고 드래그하면 원본 색상이 스크래치 한 듯이 보여지는 기능입니다. 이미지의 원본 색상 뿐 아니라 사용자가 원하는
                   색상으로 이미지의 전체적인 색감을 바꾸어 여러가지 느낌을 가지도록 합니다.
               </p>
               <!-- <a href="#" class="button">Go to scrath</a> -->
               <h4>💚 PAINTING STYLE 💚<h4></h4>
               <p>
                   PAINTING STYLE은 풍경 사진에 적합한 기능입니다. 사용자가 업로드한 사진에 5가지의 화풍을 적용하여 필터처럼 덧씌울 수 있습니다.
                   미리 학습된 딥러닝(Style Transfer) 모델을 활용하였습니다.
                   사용자로 하여금 자신이 찍은 사진으로 그림이 그려졌을 당시의 분위기를 느낄 수 있는 환상을 제공합니다.
               </p>
               <style>
                img { display: block; margin: 0px 10px 10px 10px; }
               </style>
               <h4>✨ TEAM4 INSTAGRAM ✨</h4>
			   <div class="instagram">
               <a href="https://www.instagram.com/"><img src="{{ url_for('static', filename='image/instagram_icon.jpg') }}" alt="인스타" width="50" height="50"/>김해림</a>
			   <a href="https://www.instagram.com/"><img src="{{ url_for('static', filename='image/instagram_icon.jpg') }}" alt="인스타" width="50" height="50"/>민원희</a>
			   <a href="https://www.instagram.com/"><img src="{{ url_for('static', filename='image/instagram_icon.jpg') }}" alt="인스타" width="50" height="50"/>심세진</a>
			   <a href="https://www.instagram.com/"><img src="{{ url_for('static', filename='image/instagram_icon.jpg') }}" alt="인스타" width="50" height="50"/>황주원</a>
				</div>
 
           </div>     
 
       </div> 
 
 
 
   </div>
</div>
<div id="copyright" class="container">
   <p>&copy; SSU 2021 WEBPROGRAMING. All rights reserved. | Develop by <a href="http://fotogrph.com/">TEAM4</a> | Design by <a href="http://templated.co" rel="nofollow">TEAM4</a>. </p>
</div>
</body>
</html>
