<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SSU photo studio | Artist Style</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static', filename='css/default.css') }}"
      rel="stylesheet"
      media="all"
    />
    <link
      href="{{ url_for('static', filename='css/fonts.css') }}"
      rel="stylesheet"
      type="text/css"
      media="all"
    />

    <style>
        
        #image_container > img {
            height: 600px;
            width: 400px;
            border: 1px dashed;
            margin: 0 auto;
        }
        
      #loading {
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        position: fixed;
        display: block;
        opacity: 0.7;
        background-color: #fff;
        z-index: 99;
        color: black;
        text-align: center;
        padding: 300px 10px;
      }

      #loading-image {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 100;
      }
    </style>
      <script type="text/javascript">
	function change(str){
		document.getElementById("bigPic").src = str;
	}
	function change2(s){
		document.getElementById("bigPic").src = s.src;
	}
          //텍스트 출력용
    function printName()  {
        const name = document.getElementById('name').value;
        document.getElementById("result").innerText = name;
    }
</script>

    <!--[if IE 6
      ]><link href="default_ie6.css" rel="stylesheet" type="text/css"
    /><![endif]-->
  </head>
  <body>
    <div id="header-wrapper">
      <div id="header" class="container">
        <div id="logo">
          <h1><a href="#">SSU photo studio</a></h1>
        </div>
        <div id="menu">
          <ul>
            <li><a href="/" accesskey="1" title="">Homepage</a></li>
            <li><a href="/about" accesskey="2" title="">About</a></li>
            <li><a href="/scrath" accesskey="3" title="">Scrath </a></li>
            <li class="current_page_item">
              <a href="/artist" accesskey="4" title="">painting style</a>
            </li>
            <li><a href="/gallery" accesskey="5" title="">Gallery</a></li>
          </ul>
        </div>
      </div>
    </div>

    <!-- <div id="banner-wrapper">
        <div id="banner" class="container">
            <p>This is <strong>Erubescent</strong>, a free, fully standards-compliant CSS template designed by <a href="http://templated.co" rel="nofollow">TEMPLATED</a>. The photos in this template are from <a href="http://fotogrph.com/"> Fotogrph</a>. This free template is released under the <a href="http://templated.co/license">Creative Commons Attribution</a> license, so you're pretty much free to do whatever you want with it (even use it commercially) provided you give us credit for it. Have fun :) </p>
        </div>
    </div> -->
    <div class="picture">
      <div class="picture-space"></div>

      <div
        class="picture-frame"
        style="
          width: 100%;
          display: flex;
          flex-direction: row;
          border: 0px;
          justify-content: center;
          align-items: center;
        "
      >
        <div class="frame">
            <img onclick = "change2(this)" src= "{{ url_for('static', filename='image/photoframe.png') }}" width="100px" height="150px" id = "pic1">
        </div>

        <div class="frame_space"></div>

        <div class="frame">
            <img onclick = "change2(this)" src= "{{ url_for('static', filename='image/photoframe_1.png') }}" width="100px" height="150px" id = "pic2"> 
        </div>

        <div class="frame_space"></div>

        <div class="frame">
        </div>
      </div>
      <div class="picture-space"></div>
      <div class="box">
          <div id="first" class="picture_box" style="text-align: center"> <!-- 텍스트 위치 센터로 지정-->
          <h5>당신의 추억을 업로드 해주세요.</h5> 
          <h5>(500x500 이하 size 권장)</h5>
        <div class = "front"><img src = "{{ url_for('static', filename='image/s2.jpeg') }}" width = "550px" height = "350px">
              </div>
              <div class="back"><img src = "{{ url_for('static', filename='image/photoframe0.png') }}" height="400px" id = "bigPic"></div>
        <input type="file" 
               id="fileupload" 
               name="file1" 
               style='display: none;' 
               accept = "image/*" 
               onchange="setThumbnail(event);"/
               >
        <img src="{{ url_for('static', filename='image/upload.png') }}" 
             style="cursor:pointer;" 
             width="10%" 
             onclick='document.all.file1.click()' 
             > 
        <div id='result'></div>
      </div>
        </div>
      
        
        <div id='image_container' style="text-align:center; display:none;"> 
		</div>
    
      <div class="txt" style="text-align:center; padding-top:4px;"> 한 마디 입력하기 😎 
        <input id='name' onkeyup='printName()'/>
      </div>

        
    </div>

    <div class="selector">
      <div style="width: auto; height: 30%"></div>
      <div class="semicircle"></div>

      <div
        class="select_box"
        style="transform: rotate(90deg) translate(230px, -300px)"
      >
        <!-- <p>1</p> -->
        <input
          type="image"
          name="style"
          value="1"
          class="select_box"
          src="{{ url_for('static', filename='image/upload/s1.jpg') }}"
          onClick="reply_click(event)"
        />
      </div>

      <div
        class="select_box"
        style="transform: rotate(60deg) translate(380px, -200px)"
      >
        <!--<p>2</p> -->
        <input
          type="image"
          name="style"
          value="2"
          class="select_box"
          src="{{ url_for('static', filename='image/upload/s2.jpg') }}"
          onClick="reply_click(event)"
        />
      </div>

      <div
        class="select_box"
        style="transform: rotate(135deg) translate(-650px, 0px)"
      >
        <!--<p>3</p>-->
        <input
          type="image"
          name="style"
          value="3"
          class="select_box"
          src="{{ url_for('static', filename='image/upload/s3.jpg') }}"
          onClick="reply_click(event)"
        />
      </div>

      <div
        class="select_box"
        style="transform: rotate(120deg) translate(-600px, -50px)"
      >
        <!--<p>4</p>-->
        <input
          type="image"
          name="style"
          value="4"
          class="select_box"
          src="{{ url_for('static', filename='image/upload/s4.jpg') }}"
          onClick="reply_click(event)"
        />
      </div>

      <div
        class="select_box"
        style="transform: rotate(30deg) translate(350px, -430px)"
      >
        <!--<p>5</p> -->
        <input
          type="image"
          name="style"
          value="5"
          class="select_box"
          src="{{ url_for('static', filename='image/upload/s5.jpg') }}"
          onClick="reply_click(event)"
        />
      </div>
    </div>

    <div id="copyright" class="container">
      <p>
        &copy; SSU 2021 WEBPROGRAMING. All rights reserved. | Develop by
        <a href="https://fotogrph.com/">TEAM4</a> | Design by
        <a href="https://templated.co" rel="nofollow">TEAM4</a>.
      </p>
    </div>

    <div id="loading" style="display: none">
        <b>Please Wait, Loading…</b>
      <br />
      <img src={{ url_for('static', filename='image/loading_horse.gif') }}
      alt="" />
      <br />
      <img src={{ url_for('static', filename='image/loading_wave.gif') }} alt=""
      />
    </div>

    <script
      type="text/javascript"
      src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"
    ></script>
      
    <script>
      function setThumbnail(event) {
        var reader = new FileReader();

        reader.onload = function(event) {
          var img = document.createElement("img");
          img.setAttribute("src", event.target.result);
          document.querySelector("div#image_container").appendChild(img);
        };
        document.getElementById("first").style.display = "none"; // Hide
        reader.readAsDataURL(event.target.files[0]);
        document.getElementById("image_container").style.display = "block"; 
      }
    </script>
      
    <script>
      function reply_click(e) {
        event.preventDefault();
        // 서버에 보낼 폼 데이터 양식 생성
        let formData = new FormData();

        // 선택한 file input에서 파일을 가져와 폼 데이터에 추가
        let imgFile = document.getElementsByName("file1")[0];
        if (imgFile.files.length > 0) {
          var files = imgFile.files;
          $.each(files, function (key, value) {
            formData.append("imageFile" + key, value);
          });
        }

        // 클릭한 input image 에서 value 값을 가져와 폼 데이터에 추가
        if (e.target.type == "image") {
          formData.append("value", e.target.value);
        }

        $.ajax({
          type: "POST",
          url: "/success",
          data: formData,
          enctype: 'multipart/form-data', 
          processData: false,
          contentType: false,
          beforeSend: function() { //로딩이미지 보여주기
              $('#loading').show();
          },
          success : function(response){
            document.write(response);
            $('#loading').hide();
            }
        });
      }
    </script>

      <!-- <script type="text/javascript" src="text.js"></script>  -->
</html>