<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title></title>
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    <body>
        <input id = "fileupload" type = "file" accept = "image/*" >
        <form>
            <input type="radio" name="color" value="org" id="org">
            <label for="org">원본</label>
            <input type="radio" name="color" value="red" id="red">
            <label for="red">빨강</label>
            <input type="radio" name="color" value="blue" id="blue">
            <label for="blue">파랑</label>

            <button type="button" id = "selectColor" type="submit">제출</button>
        </form>

        <canvas id="picture_canvas"></canvas>


        <!-- 필터 js -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="colorFilter.js"></script>

    </body>
</html>