<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License

Name       : Erubescent 
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20131115

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>SSU photo studio | Scratch Function</title>
<link rel="icon" href="{{ url_for('static', filename='image/favicon.ico') }}">
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet" />
<link href="{{ url_for('static', filename='css/default.css') }}" rel="stylesheet"  media="all" />
<link href="{{ url_for('static', filename='css/fonts.css') }}" rel="stylesheet" type="text/css" media="all" />
<link href="{{ url_for('static', filename='css/scratch.css') }}" rel="stylesheet" type="text/css" media="all" />

    <style>
        #picture_box > img {
            height: 600px;
            width: 400px;
            border: 1px dashed;
            margin: 0 auto;
        }
    </style>
	      <script type="text/javascript">
			function change(str){
				document.getElementById("bigPic").src = str;
			}
			function change2(s){
				document.getElementById("bigPic").src = s.src;
			}
				  //텍스트 출력용
			function printName()  {
				const name = document.getElementById('name').value;
				document.getElementById("result").innerText = name;
			}
            function appear(){
				var back = document.getElementsByClassName('back');				
				back[0].style.display = 'block';
				var txt = document.getElementsByClassName('txt');
				txt[0].style.display = 'block';
			}
            function disappear(){
                var back = document.getElementsByClassName('back');
                back[0].style.display = 'none';
                var txt = document.getElementsByClassName('txt');
                txt[0].style.display = 'none';
            }
		</script>
    
<!--[if IE 6]><link href="default_ie6.css" rel="stylesheet" type="text/css" /><![endif]-->

</head>
<body>
<div id="header-wrapper">
    <div id="header" class="container">
        <div id="logo">
            <h1><a href="#">SSU photo studio</a></h1>
        </div>
        <div id="menu">
            <ul>
                <li><a href=/ accesskey="1" title="">Homepage</a></li>
                <li><a href=/about accesskey="2" title="">About</a></li>
                <li class="current_page_item"><a href=/scrath accesskey="3" title="">Scrath </a></li>
                <li><a href=/artist accesskey="4" title="">painting style</a></li>
                <li><a href=/gallery accesskey="5" title="">Gallery</a></li>

            </ul>
        </div>
    </div>
</div>

<!-- <div id="banner-wrapper">
	<div id="banner" class="container">
		<p>This is <strong>Erubescent</strong>, a free, fully standards-compliant CSS template designed by <a href="http://templated.co" rel="nofollow">TEMPLATED</a>. The photos in this template are from <a href="http://fotogrph.com/"> Fotogrph</a>. This free template is released under the <a href="http://templated.co/license">Creative Commons Attribution</a> license, so you're pretty much free to do whatever you want with it (even use it commercially) provided you give us credit for it. Have fun :) </p>
	</div>
</div> -->
<div class="picture">
	<div class="picture-space"> 
		<h3>원하는 액자를 선택해주세요!🖼</h3>
	</div>
	<div class="picture-frame">
<div class="frame" style ="border: 0.2px solid black">
	<h6 style="text-align: center;">액자 없음</h6>
	<img onclick = "disapper(); change2(this);" src= "{{ url_for('static', filename='image/photoframe_no.png') }}" width="100px" height="150px" id = "pic1">
</div> 
<div class="frame_space"></div>
<div class="frame">
	<img onclick = "appear(); change2(this);" src= "{{ url_for('static', filename='image/photoframe.png') }}" width="100px" height="150px" id = "pic2"> 
</div>
<div class="frame_space"></div>
<div class="frame">
	<img onclick = "appear(); change2(this);" src= "{{ url_for('static', filename='image/photoframe_1.png') }}" width="100px" height="150px" id = "pic3">
	</div>
  </div>``
	<div class="picture-space">
	</div>
	<div class ="box">
		<div class = "picture_box">
            <div id="scratch"></div>
			<div class="back"><img src ="{{ url_for('static', filename='image/photoframe_no.png')}}" width="400px" height="600px" id = "bigPic"></div>
			<div id='result'></div>
		</div>
	   <div class="txt"> 
       <h5>한 마디 입력하기 😎 </h5>
        <input id='name' onkeyup='printName()'/>
		   <a href="{{ url_for('static', filename=target)}}" download><button>Save</button></a>
	   </div>
	</div>

	

</div> 

<div class="selector">
    <div style="width: auto; height: 30%"></div>
    <div class="semicircle"></div>

    <!-- <p>1</p> -->
    <div class="select_box" style="transform: rotate(90deg) translate(230px, -300px)">
      <input type="image" name="style" value="purple" class="select_box" src="{{ url_for('static', filename='image/input_violet.jpg') }}"/>
    </div>
    
    <!--<p>2</p> -->
    <div class="select_box" style="transform: rotate(60deg) translate(380px, -200px)">
      <input type="image" name="style" value="green" class="select_box" src="{{ url_for('static', filename='image/input_green.jpg') }}"/>
    </div>

    <!--<p>3</p>-->
    <div class="select_box" style="transform: rotate(135deg) translate(-650px, 0px)">
      <input type="image" name="style" value="org" class="select_box" src="{{ url_for('static', filename='image/input_orignal.jpg') }}"/>
    </div>
    
    <!--<p>4</p>-->
    <div class="select_box" style="transform: rotate(120deg) translate(-600px, -50px)">
      <input type="image" name="style" value="red" class="select_box" src="{{ url_for('static', filename='image/input_red.jpg') }}"/>
    </div>
  
    <!--<p>5</p> -->
    <div class="select_box" style="transform: rotate(30deg) translate(350px, -430px)">
      <input type="image" name="style" value="blue" class="select_box" src="{{ url_for('static', filename='image/input_blue.jpg') }}"/>
    </div>
  </div>

<div id="copyright" class="container">
   <p>&copy; SSU 2021 WEBPROGRAMING. All rights reserved. | Develop by <a href="http://fotogrph.com/">TEAM4</a> | Design by <a href="http://templated.co" rel="nofollow">TEAM4</a>. </p>
</div>

<!-- 스크래치 js -->
<script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='js/wScratchPad.min.js') }}"></script>
<script type="text/javascript">
    $('#scratch').wScratchPad({
        size        : 30,          // The size of the brush/scratch.
        bg          : "{{ url_for('static', filename='image/canvas_img_color.jpeg') }}",  // Background (image path or hex color).
        fg          : "{{ url_for('static', filename='image/canvas_img_gray.jpeg') }}"  // Foreground (image path or hex color).
    });
</script>

</body>
</html>
