<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License

Name       : Erubescent 
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20131115

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>SSU photo studio | Artist Style</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet" />
<link href="{{ url_for('static', filename='css/default.css') }}" rel="stylesheet" type="text/css" media="all" />
<link href="{{ url_for('static', filename='css/fonts.css') }}" rel="stylesheet" type="text/css" media="all" />
<link href="{{ url_for('static', filename='css/scratch.css') }}" rel="stylesheet" type="text/css" media="all" />

<!--[if IE 6]><link href="default_ie6.css" rel="stylesheet" type="text/css" /><![endif]-->

</head>
<body>
<div id="header-wrapper">
	<div id="header" class="container">
		<div id="logo">
			<h1><a href="#">SSU photo studio</a></h1>
		</div>
		<div id="menu">
			<ul>
				<li><a href=/ accesskey="1" title="">Homepage</a></li>
				<li><a href=/about accesskey="2" title="">About</a></li>
				<li class="current_page_item"><a href=/scrath accesskey="3" title="">Scrath </a></li>
				<li><a href=/artist accesskey="4" title="">painting style</a></li>
				<li><a href=/gallery accesskey="5" title="">Gallery</a></li>

			</ul>
		</div>
	</div>
</div>

<!-- <div id="banner-wrapper">
	<div id="banner" class="container">
		<p>This is <strong>Erubescent</strong>, a free, fully standards-compliant CSS template designed by <a href="http://templated.co" rel="nofollow">TEMPLATED</a>. The photos in this template are from <a href="http://fotogrph.com/"> Fotogrph</a>. This free template is released under the <a href="http://templated.co/license">Creative Commons Attribution</a> license, so you're pretty much free to do whatever you want with it (even use it commercially) provided you give us credit for it. Have fun :) </p>
	</div>
</div> -->
<div class="picture">
	<div class="picture-space"> </div>
	<div class="picture-frame" style="width: 100%; display: flex;
	flex-direction: row;
	border: 0px; 
	justify-content: center;
	align-items: center;" >
		<div class="frame">
			<h5>액자1</h5>
		</div> 
		<div class="frame_space"></div>
		<div class="frame">
			<h5>액자2</h5>
		</div>
		<div class="frame_space"></div>
		<div class="frame">
			<h5>액자3</h5>
		</div>
	</div>
	<div class="picture-space">
	</div>
		<div class="picture_box" style="text-align: center">
			<h5>당신의 추억을 업로드해주세요</h5>
			<!-- <img src="{{ url_for('static', filename='image/upload.png') }}" width="50px" height="50px"> -->
            <form>
				<input type = "file" id = "fileupload" name = "fileupload" accept = "image/*" />
			</form>
			<canvas id="picture_canvas"></canvas>
			<div id="scratch"></div>
		</div>
	<div class="txt">
		<h3>Txt 추가</h3>
	</div>
</div>

    <div class="selector">
      <div style="width: auto; height: 30%"></div>
      <div class="semicircle"></div>

      <div
        class="select_box"
        style="transform: rotate(90deg) translate(230px, -300px)"
      >
        <!-- <p>1</p> -->
        <input
          type="image"
          name="style"
          value="green"
          class="select_box"
          src="{{ url_for('static', filename='image/upload/s1.jpg') }}"
          onClick="reply_click(event)"
        />
      </div>

      <div
        class="select_box"
        style="transform: rotate(60deg) translate(380px, -200px)"
      >
        <!--<p>2</p> -->
        <input
          type="image"
          name="style"
          value="green"
          class="select_box"
          src="{{ url_for('static', filename='image/upload/s2.jpg') }}"
          onClick="reply_click(event)"
        />
      </div>

      <div
        class="select_box"
        style="transform: rotate(135deg) translate(-650px, 0px)"
      >
        <!--<p>3</p>-->
        <input
          type="image"
          name="style"
          value="original"
          class="select_box"
          src="{{ url_for('static', filename='image/upload/s3.jpg') }}"
          onClick="reply_click(event)"
        />
      </div>

      <div
        class="select_box"
        style="transform: rotate(120deg) translate(-600px, -50px)"
      >
        <!--<p>4</p>-->
        <input
          type="image"
          name="style"
          value="red"
          class="select_box"
          src="{{ url_for('static', filename='image/upload/s4.jpg') }}"
          onClick="reply_click(event)"
        />
      </div>

      <div
        class="select_box"
        style="transform: rotate(30deg) translate(350px, -430px)"
      >
        <!--<p>5</p> -->
        <input
          type="image"
          name="style"
          value="blue"
          class="select_box"
          src="{{ url_for('static', filename='image/upload/s5.jpg') }}"
          onClick="reply_click(event)"
        />
      </div>
    </div>
	
<div id="copyright" class="container">
   <p>&copy; SSU 2021 WEBPROGRAMING. All rights reserved. | Develop by <a href="http://fotogrph.com/">TEAM4</a> | Design by <a href="http://templated.co" rel="nofollow">TEAM4</a>. </p>
</div>

<!-- 필터 js -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="{{ url_for('static', filename='js/colorFilter.js') }}"></script>

<!-- 스크래치 js -->
<script
        src="https://code.jquery.com/jquery-2.2.4.js"
        integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="
        crossorigin="anonymous"></script>
        <script src="{{ url_for('static', filename='js/wScratchPad.min.js') }}"></script>
        <script type="text/javascript">
            $('#scratch').wScratchPad({
                size        : 30,          // The size of the brush/scratch.
                bg          : "{{ url_for('static', filename='image/example_org.jpeg') }}",  // Background (image path or hex color).
                fg          : "{{ url_for('static', filename='image/example_gray.jpeg') }}"  // Foreground (image path or hex color).
            });
        </script>

<script>
	function reply_click(e) {
	event.preventDefault();
	// 서버에 보낼 폼 데이터 양식 생성
	let formData = new FormData();

	// 선택한 file input에서 파일을 가져와 폼 데이터에 추가
	let imgFile = document.getElementsByName("fileupload")[0];
	if (imgFile.files.length > 0) {
	  var files = imgFile.files;
	  $.each(files, function (key, value) {
	    formData.append("imageFile" + key, value);
	  });
	}
	else if (imgFile.files.length == 0) {
	  alert('이미지를 업로드 해주세요');
	  return ;
	}

	// 클릭한 input image 에서 value 값을 가져와 폼 데이터에 추가
	if (e.target.type == "image") {
	  // color_file 생성 
	  // if (e.target.value == green) {
	}
	  // if (e.target.value == green) {
	}
	  // if (e.target.value == green) {
	}
	  // var color_file = 자바스크립트로 만든 이미지 파일;
	  //   $.each(files, function (key, value) {
	  // formData.append("color_file" + key, value);
	  });
	}

	$.ajax({
	  type: "POST",
	  url: "/scrath_out",
	  data: formData,
	  enctype: 'multipart/form-data', 
	  processData: false,
	  contentType: false,
	  beforeSend: function() { //로딩이미지 보여주기
	      $('#loading').show();
	  },
	  success : function(response){
	    document.write(response);
	    $('#loading').hide();
	    }
	});
	}
</script>
	
</body>
</html>
